<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskMe</title>
</head>
<body>
    <h1>Askme</h1>
    <p>Olá, <%= name %>, fiquei sabendo que o sua linguagem de programação favorita é <%= favoriteLanguage%></p>
</body>
</html>